@font-face{
	font-family: "Iosevka";
	src: url("iosevka.ttf");
}
@font-family{
	font-family: "Operator Mono Light";
	src: url("operator.otf");
}
html{
	margin:0px;
	height: 100%;
}
body{
	display: flex;
	margin: 0px;
	width: 100%;
	height: 100%;
	background: #131313;
}
body>div{
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin:0px;
	height:calc(100% - 2em);
	padding:1em;
	width: 100%;

	transition: opacity 0.18s linear, 0.18s filter linear;
}
h1{
	color:white;
	margin:0px;
}
.counter{
	display: flex;
	width: 100%;
	margin-bottom: 1em;
	justify-content: center;
}
.counter>h1{
	font-family: "Iosevka";
	font-weight: normal;
	font-size: 50vh;
}
.counter>div>h1{
	font-family: "Iosevka";
	font-weight: normal;
}
.log{
	margin-left: 10vw;
	display: flex;
	width: 40%;
	flex-direction: column;
	align-items: start;
	font-size: 1.5em;
}
.ft{
	width: 70%;
	display: flex;
	justify-content: space-around;
}
.ft>button{
	background:none;
	border:0px;
	font-size: 1.6em;
	font-weight: bold;
	color: #bbb;
	font-family: "Iosevka";
	cursor: pointer;
}
.ft>button:focus{
	outline: none;
}
.pop-content{
	position: absolute;
	top: 0px;
	right: 0px;
	opacity: 0;
	display: none;

	transition: opacity 0.18s linear;
}
.pop-content>h1{
	font-family: "Iosevka";
	font-weight: normal;
	font-size: 5em;
	color: white;
}
.pop-content>div>input{
	font-family: "Iosevka";
	font-weight: normal;
	font-size: 3em;
	color: white;
	background: none;
	border: 0px;
	width: 210px;
	border-bottom: 1px solid white;
}
.pop-content>div>button{
	font-family: "Iosevka";
	font-weight: normal;
	font-size: 2em;
	background: none;
	color: white;
	border: 0px;
	cursor: pointer;
}
.pop-content>div>p{
	font-family: "Iosevka";
	font-weight: normal;
	font-size: 2em;
	color: white;
}
.pop-content>div>ul{
	list-style: none;
	padding: 0px;
	padding-left: 1em;
	margin: 0px;
	font-family: "Iosevka";
	font-weight: normal;
	font-size: 2em;
	color: white;
}
.pop-content>div>label{
	font-family: "Iosevka";
	font-weight: normal;
	font-size: 2em;
	color: white;
}
.pop-content>div>input::placeholder{
	color: #bbb;
}
.pop-content>div>button:focus{
	outline: none;
}
.pop-content>div>input:focus{
	outline: none;
}
.blur{
	opacity: 0.4;
	filter: blur(25px);
}
.pop-shown{
	display: inherit;
	opacity: 1;
}
